// Web fonts by CDN fonts:
@import url('http://fonts.cdnfonts.com/css/roboto');
@import url('http://fonts.cdnfonts.com/css/droid-sans-2');
@import url('http://fonts.cdnfonts.com/css/poppins');
@import url('http://fonts.cdnfonts.com/css/ek-mukta');

// Declaration of font variables
$roboto: ('Roboto', sans-serif);
$droid: ('Droid Sans', sans-serif);
$mukta: ('Ek Mukta', sans-serif);
$poppins: ('Poppins', sans-serif);

// Colour variables
$aside: #818cf8;
$navLinks: #052c73;
$milk: #ebb16e;
$bgColor: #aae2ff;
$cardBg: #edb5b5;
$line: #aae2ff;
$upcomingPro: #eb6666;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5rem;
  font-family: $roboto;
  background-color: $bgColor;
  width: 100%;
  height: 100%;
  
  a {
    text-decoration: none;
    display: block;
  }
}

/* Styling for max-width: 767px */
.container {
  position: relative;
  width: 100%;
  height: 100%;

  // logo section
  .logo-section {
    display: flex;
    justify-content: space-between;
    width: inherit;
    padding: 1rem;
    background-color: transparent;

    .logo {
      width: 40%;
    }

    .menu {
      width: 2rem;
    }
  }

  // Navigation section

  nav {
    display: none;
    position: absolute;
    padding: 1rem;
    width: 50%;
    height: inherit;
    background-color: $aside;
    
    a {
      padding: 0.625rem;
      font-family: $poppins;
      font-size: 1rem;
      font-weight: 600;
      color: $navLinks;
    }

    #tasks {
      padding: 0.5rem;
      margin-left: 3rem;
      color: $navLinks;
      outline: none;
      transition: color 250ms ease-in;

        &:hover {
        background-color: #818cf8;
        color: #052c73;
        font-weight: 600;
       }
    }

    img {
      margin-right: 1rem;
    }

    p {
      margin: 1rem 1rem 1rem 3rem;
      font-size: 1.5rem;
      font-weight: 700;
      opacity: 0.7;
    }

    .profile {
      width: 100%;
      display: flex;

      img {
        width: 10%;
        height: 20%;
        border-radius: 50%;
        margin: 1.5rem 1rem 0;
      }

      .texts {
        width: 100%;

        p {
          font-size: 0.85rem;
          margin-left: 0;
          margin-bottom: 0;
          color: #f5f5f5;

          &:nth-child(2) {
            margin-top: 0;
          }

          &:nth-child(3) {
            margin-top: 0;
          }

           a {
            font-size: 0.85rem;
            text-decoration: underline;
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }

  /* Header Section */
  header {
    width: 100%;

    .header-info {
      text-align: center;
      padding-top: 4rem;
      display: flex;
      justify-content: space-around;

      .hello {
        h1 {
          color: $navLinks;
        }

        p {
          opacity: 0.7;
          font-weight: bold;
          font-size: 1.05rem;
        }
      }
    }
  }

/* Main Section */
  main {
    width: 100%;
    // Notification section
    .notification {
      width: 100%;
      text-align: center;

      .today {
        max-width: 60%;
        background-color: $navLinks;
        height: 100px;
        border-radius: 5px;
        margin: auto;
        padding-top: 1.5rem;
        color: $milk;
      }

      .indicators {
        max-width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        gap: 1rem;

        .time {
          display: flex;
          margin-top: 1rem;
          background-color: $cardBg;
          padding-right: 1.5rem;
          width: 100%;
          border-radius: 5px;
          height: 100px;

          .time-index {
            width: inherit;
            height: inherit;
            padding: 1.5rem;
          }

          .time-index p:first-of-type {
            font-family: $poppins;
            font-weight: 700;
            font-size: 3rem;
            margin-bottom: 1rem;
          }

          .time-index p:last-of-type {
            font-size: 1rem;
            color: #052c73;
            
          }

          p span {
            display: block;
            color: #052c73;
            font-weight: bold;
            
          }

          .a {
            text-decoration: underline;
          }
        }

        .complete,
        .deadline {
            width: 100%;
            background-color: $navLinks;
            height: 100px;
            border-radius: 5px;
            margin: auto;
            padding-top: 1.5rem;
            color: $milk;

          h3 {
            text-transform: capitalize;
            padding-bottom: 0.5rem;
          }
        }
      }
    }
    /* Upcoming tasks section */
    .upcoming {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      padding-top: 1rem;

      .next {
        width: 80%;
        margin: auto;
        padding: 0.625rem;
        border-radius: 10px;

        &:first-of-type {
          background: #000;
          color: $milk;
        }

        &:last-of-type {
          background-color: $cardBg;
          color: $navLinks;
        }

        ul li {
          list-style-type: none;
          margin-left: 4rem;

          &::before {
            content: url(./images/before-em.svg);
            position: relative;
            right: 10px;
          }
        }
      }
    }

    /* Recent works section*/
    .recent {
      width: 100%;

      .projects {
        background-color: $navLinks;
        margin: 1rem auto;
        padding: 1.5rem 0;
        
        h3 {
          text-align: center;
          padding: 1rem;
          color: $line;
          font-size: 1.25rem;
        }

        .card {
          width: 80%;
          background-color: #818cf8;
          margin: 1rem auto;
          border-radius: 10px;
          padding: 1rem;

          a {
            color: $navLinks;

            &:hover {
              color: #f5f5f5;
              text-decoration: underline;
            }
          }
          p {
            margin-bottom: 1rem;
          }

          img {
            padding-right: 0.25rem;
          }
        }
      }
    }

    /* Calender */
    table {
      width: 50%;
      margin: auto;
      padding-bottom: 3rem;

      th, td {
        border: none;
        padding: 0.625rem;
      }

      th {
        background-color: $navLinks;
        color: #edb5b5;
      }

      caption {
        font-weight: bold;
        font-size: 1.25rem;
        text-align: center;
        color: #333;
        margin: 0.5rem 0;
      }

      .ex {
        opacity: 0.3;
      }

      .current {
        background-color: #333;
        border-radius: 50%;
        color: #f5f5f5;
      }
    }
  }
}
